.Wrapper {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.BtnLoad {
  border: 1px solid rgb(160, 228, 97);
  background-color: rgb(215, 255, 177);
}

.BtnSubmit {
  display: block;
  margin: 20px auto;
}

