.Row {
  display: flex;
  margin-bottom: 4px;
}

.Result {
  width: 120px;
  height: 32px;
  border: 1px solid #000;
  margin: 0 2px;
  padding: 5px;
  text-align: left;
  background: rgb(230, 221, 250);
}
