.row {
  display: flex;
  margin-bottom: 4px;
}

.btnAdd {
  border: 1px solid rgb(97, 228, 152);
  background-color: rgb(177, 255, 203);
}

.btnRemove {
  border: 1px solid rgb(228, 117, 97);
  background-color: rgb(255, 189, 177);
}

.errorText {
  color: red;
}